.footerContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f7f7f7;
  border-top: 1px solid lightgray;
  
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;

}

.topFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #f7f7f7;
}

.logo {
  width: 300px;
}

.userNavigationList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.linkListContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  background-color: #f7f7f7;
  border-top: solid lightgray 1px;
  padding: 50px;
}
.linkListContainer li {
  list-style: none;
}

.BoldLinks {
  font-size: 28px;
  text-decoration: none;
  color: inherit;
  position: relative;
  bottom: 20px;

}

.bottomFooter1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 30px;
    background-color: white;
    border-bottom: solid #D2D1D1 1px;
}
.bottomFooter1 > li a {
    text-decoration: none;
  color: inherit;
}
.bottomFooter2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 30px;
    background-color: white;
    border-bottom: solid #D2D1D1 1px;
}

.bottomFooter2List {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 20px;


}

.actionBar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
  padding: 0px;
  font-size: 16px;
  width: 100%;
}

.actionBar > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catergoryContainer,
.watchlistContainer,
.favouritesContainer,
.listingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  
}

.favourites path {
  fill: none;
  stroke: #2F2C28;
  stroke-width: 2;
}

.signupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: inherit;
  width: 120px;
}

.catergory,
.watchlist,
.favourites,
.listing,
.signup {
  width: 32px;
  height: 32px;
}

.socialIcons {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
  
}
.socialIcons svg {
  width: 20px;
  height: 20px;
  fill: #2b2b2b;
  cursor: pointer;
  transition: transform 0.2s;
}
.socialIcons svg:hover {
  transform: scale(1.1);
}