/* ======== Full-Header Container ======== */
.fullHeader {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  width: 100%;
}

.fullHeader a {
  color: #2F2C28;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

.fullHeader a:hover {
  color: #007BFF;
}

/* ======== Top-Header ======== */
.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

/* Trademe-Logo */
.logo {
  width: 300px;
}

/* Search Bar */
.searchBar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 999px;
  padding: 10px 16px;
  border: 1px solid #e2e0de;
  width: 100%;
  height: 50px;
}

.searchIcon {
  flex-shrink: 0;
  margin-right: 8px;
  width: 18px;
  height: 18px;
}

.searchBarInput {
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
  width: 100%;
  color: #4b4b4b;
}

/* Action Bar */
.actionBar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
  padding: 0px;
  font-size: 16px;
  width: 100%;
}

.actionBar > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catergoryContainer,
.watchlistContainer,
.favouritesContainer,
.compareContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  
}

.userContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: inherit;
  width: 120px;
}

.catergory,
.watchlist,
.favourites,
.compare,
.user {
  width: 32px;
  height: 32px;
}

/* SVG-Iconpaths */
.searchIcon path {
  fill: none;
  stroke: #6e6e6e;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.catergory path,
.watchlist path,
.compare path {
  fill: #2F2C28;
}

.favourites path {
  fill: none;
  stroke: #2F2C28;
  stroke-width: 2;
}

.user rect {
  fill: #DDF6C9;
}

.user path {
  fill: #A0D875;
}

/* ======== Bottom-Header ======== */
.bottomHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #D2D1D1;
  font-weight: 500;
  font-size: 22px;
}

.navCatergoryTabs {
  display: flex;
  
  list-style: none;
  padding: 20px;
  gap: 50px;
}
.navCatergoryTabs > li a {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  color: inherit;
}

.listItem {
  display: flex;
  padding: 20px;
}