/* -------------------- LOADING PAGE -------------------- */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-size: 10rem;
}

/* --------- LOCATION BAR AT THE TOP OF THE PAGE --------- */

.locationBar {
  padding-left: 20px;

  p {
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

/* ------------------- MAIN CONTAINER ------------------- */

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1440px;
  margin: 0 auto;
  /* background-color: #f0e6ff; */

  button{
    border-style: none;
  }
}

/* --------------------- SECTION ONE -------------------- */

.section1 {
  display: grid;
  grid-template-columns: 6fr 3fr;
  gap: 2rem;
}

.images {
  display: flex;
  flex-direction: column;
  /* min-height: 50vh; */
  /* background-color: #ffcdd2; */
  border-radius: 8px;
  flex-grow: 2;
  /* max-height: 70vh; */
  max-width: auto;

  img {
    max-height: 80vh;
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
  }
}

.carouselContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  /* background-color: #e8f5e9; */

  img {
    height: 100%;
    max-height: 10vh;
    object-fit: contain;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

/* --------------------- TOP SIDEBAR -------------------- */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* background-color: #c8e6c9; */
  flex-grow: 1;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--Grey-07, #44413d);
  text-align: center;

  /* h1 */
  font-family: Arial;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.closingInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--Grey-07, #44413d);
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.watchListAndCompareButtons {
  display: flex;
  gap: 1rem;
  align-items: center;
  /* background-color: #bbdefb; */
  justify-content: center;
  /* align-self: stretch; */

  button {
    display: flex;
    width: 218px;
    height: 50px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #f9af2c;
    border-radius: 4px;
    color: var(--Yellow-4, #943900);
    font-family: Arial;
    font-size: medium;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

/* ------------ BUY NOW AND CURRENT BID AREA ------------ */

.bidBox {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  /* background-color: #e1bee7; */
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-style: none;

  .bidPrice {
    color: var(--Grey-07, #44413d);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 48px */
  }

  .bidLable {
    color: var(--Grey-07, #44413d);
    text-align: center;

    /* Body Text 1 */
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  button {
    border-radius: 4px;
    background: var(--Blue-05, #007acd);
    color: var(--Grey-01, #fff);
    text-align: center;
    height: 50px;
    width: 100%;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.bidHistory {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: var(--Grey-07, #44413d);
    text-align: center;
    /* Body Text 1 */
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.bidHistory ul {
  display: flex;
  flex-direction: column;
  padding: 1rem auto;
  width: 100%;
  background-color: hsl(199, 92%, 97%);
  border-radius: 8px;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.bidHistoryLine {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;

  span:first-child {
    max-width: 3em;
    /* background-color: red; */
  }

  /* gap: 2rem; */
}

.reportButton {
  border-radius: 4px;
  background: var(--Blue-05, #007acd);
  color: var(--Grey-01, #fff);
  text-align: center;
  height: 50px;
  width: 100%;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* ----------- SMALL CIRCLE WITH LETTER IN IT ----------- */

.biderLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* --------------------- SECTION TWO -------------------- */
.section2 {
  display: grid;
  grid-template-columns: 6fr 3fr;
  gap: 1.5rem;
}

/* ------------- PRODUCT AND DETAILS SECTION ------------ */

.productDetailsAndDescription {
  /* border: 1px solid #e0e0e0; */
  border-radius: 8px;

  flex-grow: 2;
}

.productDetailsContainer {
  background-color: #b3e5fc;
  border: 10px solid #007acd;
}

.detailAndDescriptionTabs {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  .middleTab {
    flex-grow: 1;
  }

  .clickTab {
    flex-grow: 5;
    text-align: center;
    box-shadow: inset 2px 2px 0 2px #d8efff, inset -2px 2px 0 2px #d8efff;
    /* border-top: inset solid 3px #D8EFFF;
    border-left:inset solid 3px #D8EFFF;
    border-right:inset solid 3px #0295ffa9; */
    border-radius: 10px 10px 0px 0px;
  }

  p {
    padding: 0.5rem 0;
    cursor: pointer;
    /* background-color: #e3f2fd; */
    /* border-radius: 4px; */
    /* transition: background-color 0.3s ease; */

    &:hover {
      background-color: #bbdefb;
      border-radius: 10px 10px 0px 0px;
    }
  }
}

/* this is for the active product or description tab */
.activeTab {
  border-radius: 10px 10px 0px 0px;
  background: #007acd;
  color: #fff;
}

.productDescription {
  padding: 1.5rem;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;

  .detailItem {
    min-width: 50%;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;

    .detailLabel {
      min-width: 6em;
    }
  }
}
/* ------------ SHIPPING AND PAYMENT SIDEBAR ------------ */

.shippingAndPaymentOptions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: #ffccbc; */
}

.shippingAndPickup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: hsl(199, 92%, 97%);
  border: 1px solid #e0e0e0;
  border-radius: 8px;

  p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.paymentOptions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: hsl(199, 92%, 97%);
  border: 1px solid #e0e0e0;
  border-radius: 8px;

  p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

/* --------------------- SELLER INFO -------------------- */

.sellerContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.5rem;
  /* background-color: #c5cae9; */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 100%;

  > p {
    color: #000;

    /* h2 */
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.innerSellerContainer {
  display: flex;
  gap: 2rem;
}

.sellerInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* background-color: #dcedc8; */
  justify-content: center;
  align-items: center;
  gap: 1rem;
  p {
    border-bottom: 1px solid #65605d;
    /* max-width: 80%; */
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    text-wrap: nowrap;

    color: var(--Grey-06, #65605d);
    /* Body Text 1 */
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  a {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    text-decoration: none;
    text-wrap: nowrap;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #65605d;

    color: var(--Blue-06, #4854d3);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    span:nth-child(3) {
      text-align: right;
      padding: 0 10px;
    }
  }

  span:first-child {
    min-width: 10em;
  }
}

.addToFavoriteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.25rem;
  color: #fff;
  background-color: #007acd;
  border-radius: 4px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* -------- BIG CIRCLE WITH THE SELLER'S INITIAL -------- */

.sellerLogo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  .sellerInitial {
    color: var(--Blue-06, #000000);
    text-align: center;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
}

.sellerCircle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #c4a8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sellerName {
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--Grey-08, #2f2c28);
}

.sellerRating {
  color: var(--Grey-06, #65605d);
  /* Body Text 1 */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ------------------ QUESTIONS AND ANSWERS ------------------ */

.questionsTitle {
  color: var(--Grey-07, #44413d);
  /* h2 */
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.questionsAndAnswers {
  grid-column: 1 / -1;
  padding: 1.5rem;
  background-color: #f3faff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.questionsList{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qaHolder {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 0.5rem;
  width: 80%;
}

.question,
.answer {
  /* margin: 0.5rem auto; */
  border: solid 1px #65605d;
  background-color: white;
  border-radius: 18px;
  padding: 0.5rem;
  max-width: 80%;

  color: var(--Grey-06, #65605d);
  /* Body Text 1 */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.question {
  align-self: flex-end;
  text-align: right;
  width: 50%;
}

.answer {
  align-self: flex-start;
  text-align: left;
  width: 50%;
}

.questionBar {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  border-top: 1px solid #65605d;
  padding: 1rem 0;

  .questionInput {
    width: 100%;
    padding: 0 0.75rem;
    align-self: stretch;
    fill: var(--Grey-01, #fff);
    stroke-width: 1px;
    stroke: var(--Grey-06, #65605d);
    color: var(--Grey-06, #65605d);
    /* Body Text 1 */
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .askButton {
    border-radius: 4px;
    background: var(--Blue-05, #007acd);
    padding: 1em 2em;
    color: var(--Grey-01, #fff);
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;

    &:hover {
      background-color: #005f99;
    }
  }
}

/* -------------------- SIMILAR ITEMS ------------------- */

.similarItems {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;

  .similarTitle {
    color: var(--Grey-07, #44413d);
    padding-bottom: 1rem;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.similarItemsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  list-style-type: none;
}

.bidHistory {
  li {
    list-style-type: none;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .images,
  .sidebar,
  .shippingAndPaymentOptions {
    grid-column: 1;
    grid-row: auto;
  }
}
